body{
    background-color: #e8e8e8;
    background: url('../img/bg.png')50% 130px no-repeat;
}
.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0 auto;
  
}
.content-top {
text-align: center;
margin-bottom: 65px;
}
.content-top__category {
opacity: 0.6;
color: #273d46;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2.8px;
margin: 0px 0px 15px 0px;
}
.content-top__title {
color: #273d46;
font-size: 36px;
font-weight: 400;
max-width: 725px;
margin: 0 auto;
line-height: 50px;
}
.content-image {
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color: white;
    padding: 10px;
    margin-bottom: 85px;
}
.content-image__item img {
    max-width: 100%;
    
}
.content-image__item {
    
}
.content-bottom {
    padding: 0px 45px 0px 45px;
}
.content-bottom__text {
opacity: 0.8;
color: #273d46;
font-size: 24px;
line-height: 40px;
margin-bottom: 48px;
}
.content-bottom__text p{
    margin-bottom: 40px;
}
.content-bottom__text p:last-child{
margin: 0;
}
.content-bottom__info {
    position: relative;
}
.content-bottom__info-list li{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
list-style: none;
margin-bottom: 13px;
}
.content-bottom__info li::before{
content: "";
background-image: url("../img/icons/check_icon.png");
background-repeat: no-repeat;
width: 30px;
height: 30px;
position: absolute;
left: 0;

}
.content-bottom__info-list li:nth-child(1) {
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
color: #273d46;
}
.content-bottom__info-list li:nth-child(2) {
    color: #80b7b3;
    font-style: italic;
}
.content-bottom__info-list li:nth-child(3) {
    color: #273d46;
    font-weight: 700;
}
.content-bottom__info-list li:nth-child(4) {
color: #273d46;
text-decoration: line-through;
}
.content-bottom__info-list li:nth-child(4) span{
opacity: 0.3;
}
.content-bottom__info-list li:last-child{
    margin: 0;
}
.content-bottom__info-list {
    margin-bottom: 59px;
   
}
.content-bottom__info__link {
    text-decoration: none;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0px 30px;
    background-color: #80b7b3;
    -webkit-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2.8px;
transition: 1s;
}
.content-bottom__info__link span{
    background: url(../img/icons/arrow.svg) right no-repeat;
    padding-right: 30px;
}
.content-bottom__info__link:hover{
background-color: teal;

}

.content-bottom__info__link:active{
    position: relative;
    top:3px;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}